@use '../abstracts/variables';
@use '../abstracts/functions';
@use '../abstracts/mixins';
@use '../base/animations';

$header-animation-speed: 0.3s;

%centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

%header-logo {
  @include header-logo-height-respond-to("medium");
  @include header-logo-height-respond-to("large");
  @include header-logo-height-respond-to("huge");
  background-color: $base-light;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: 0;
  min-width: rhythm(map-get($header-logo-height-media-map-rhythm, "small"));
  transition: transform $header-animation-speed ease-out;
}

%header-dock {
  @include header-title-and-dock-top();
  position: absolute;
  top: 0;
  transition-duration: $header-animation-speed;
  transition-property: transform, background-color;
  transition-timing-function: ease-out;
  // transition: transform $header-animation-speed ease-out;
  // transition: background-color $header-animation-speed ease-out;
  width: 100%;
  z-index: z("dock");
}

%header-dock-menu {
  @include header-dock-menu-margin-top();
  height: rhythm($header-dock-menu-height-rhythm);
}

.Header {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: $page-width - 2 * $layout-padding-sides;
  position: fixed;
  top: 0;
  width: calc(100% - (2 * #{$layout-padding-sides}));
  z-index: z("dock");
}

.Header__word-left {
  margin-left: 0;
  margin-right: 0.5rem;
  text-align: right;
}

.Header__word-right {
  margin-left: 0.5rem;
  margin-right: 0;
  text-align: left;
}

.Header__word-isScrolling { 
  @include header-scrolling-animation-hide;
}

.Header__word-notScrolling {
  @include header-scrolling-animation-show;
}

.Header__Title {
  @extend %centered;
  @include header-title-and-dock-top();
  color: $primary;
  font-family: $base-font-family-title;
  font-weight: 700;
  margin: 0 0.5rem;
  position: relative;
  text-rendering: optimizeLegibility;
  z-index: z("title");

  > .Header__word-left,
  .Header__word-right {
    @include header-title-word-scale;
    @include header-title-word-width;
  }

  > a {
    // Cannot get rid of 5 'ghost' pixels
    // Being added below child img
    // following is a #HACK to keep rhythm
    padding-bottom: $header-logo-link-padding-bottom;
    padding-top: $header-logo-link-padding-top;
  }
}

.Header__logo-isScrolling {
  @extend %header-logo;
  transform: scale(0.75) translateY(-25%);
}

.Header__logo-notScrolling {
  @extend %header-logo;
  transform: scale(1) translateY(0);
}

.Header__Dock__logoBackground {
  background-color: $base-light;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  margin: 0 auto;
  width: 25px;
}

.Header__Dock-isScrolling {
  @extend %header-dock;
  @include header-dock-offset-transforms();
  background-color: transparent;
}

.Header__Dock-notScrolling {
  @extend %header-dock;
  @include header-dock-offset-transforms();
  background-color: $base-light;
}

.Header__Dock-opened {
  @extend %header-dock;
  background-color: $primary-light;
  transform: translateY(0);
}

// .Header__Dock-isScrolling {
//   background-color: transparent;
// }

// .Header__Dock-notScrolling {
//   background-color: $base-light;
// }

.Header__Dock__menu-closed {
  @extend %header-dock-menu;
  animation: visible-to-hidden $header-animation-speed ease-out;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.Header__Dock__menu-opened {
  @extend %header-dock-menu;
  animation: hidden-to-visible $header-animation-speed ease-out;
  animation-fill-mode: both;
  visibility: visible;
}

%header-dock-menu-list {
  margin: 0 rhythm(2) rhythm(1 / 2);
}

.Header__Dock__menu__posts, .Header__Dock__menu__pages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h3 {
    align-self: flex-start;
    font-style: italic;
    margin: 0 0 rhythm(1 / 4) rhythm(1);

  }

  .Header__Dock__menu__pageList {
    @extend %header-dock-menu-list;
    align-self: center;
    
  }

  .Header__Dock__menu__postList {
    @extend %header-dock-menu-list;
    align-self: flex-start;
  }
}

.Header__Dock__menu__pageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  > a {
    @include header-dock-menu-link;
    margin: rhythm(1 / 2);
  }
}

.Header__Dock__menu__postList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > .Header__Dock__menu__postLink {
    margin: rhythm(1 / 2);
  }

  > .Header__Dock__menu__postLink .Header__Dock__menu__postLink__title {
    @include scale(3 / 4);
    font-weight: 700;
  }

  > .Header__Dock__menu__postLink .Header__Dock__menu__postLink__description {
    @include scale(1 / 8);
    animation: header-dock-menu-desc-fade-in $header-animation-speed ease-in;
    animation-fill-mode: forwards;
    color: lighten( $secondary , 10%);
    font-style: italic;
  }
}

@keyframes header-dock-menu-desc-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

%header-dock-nav-wing {
  font-size: $header-dock-nav-font-height;
  height: auto;
  width: 10rem;
}

.Header__Dock__nav {
  @extend %centered;
  color: $secondary;
  margin-bottom: rhythm(1 / 2) !important;

  .Header__Dock__nav__wing-notScrolling {
    @extend %header-dock-nav-wing;
    @include header-scrolling-animation-show;
  }

  .Header__Dock__nav__wing-isScrolling {
    @extend %header-dock-nav-wing;
    @include header-scrolling-animation-hide;
  }

  .Header__Dock__nav__wing-opened {
    @extend %header-dock-nav-wing;
    visibility: hidden;
  }

  .Header__word-left {
    @include header-dock-nav-clickable;
    float: right;
  }

  .Header__word-right {
    @include header-dock-nav-clickable;
    float: left;
  }

  .Header__Dock__menu__button-notScrolling {
    @include header-scrolling-animation-show;
    @include header-dock-nav-clickable;
    background-color: $base-light;
    border-color: $base-light;
  }

  .Header__Dock__menu__button-isScrolling {
    @include header-scrolling-animation-hide;
    @include header-dock-nav-clickable;
    background-color: transparent;
    border-color: transparent;
  }

  .Header__Dock__menu__button-opened {
    @include header-dock-nav-clickable;
    background-color: $primary-light;
    border-color: $primary-light;
  }
}

%header-dock-menu-icon {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: rhythm($header-dock-menu-button-size-rhythm);
  justify-content: space-around;
  width: rhythm($header-dock-menu-button-size-rhythm);
  
  span {
    background: $secondary;
    border-radius: 0.5rem;
    height: 0.125rem;
    position: relative;
    transform-origin: 1px;
    transition: all $header-animation-speed linear;
    width: rhythm(1);
  }
}

// Hamburger Menu changes if Open
//   -> span #1: transform: open ? 'rotate(45deg)' : 'rotate(0)'
//   -> span #2: opacity: open ? '0' : '1'
//               transform: open ? 'translateX(20px)' : 'translateX(0)'
//   -> span #3: transform: open ? 'rotate(-45deg)' : 'rotate(0)'
// --Header Menu Closed--
.Header__Dock__menu__icon-closed {
  @extend %header-dock-menu-icon;

  &:focus {
    outline: none;
  }

  :first-child {
    transform: rotate(0);
  }
  :nth-child(2) {
    opacity: 1;
    transform: translateX(0);
  }
  :nth-child(3) {
    transform: rotate(0);
  }
}

// --Header Menu Open--
.Header__Dock__menu__icon-opened {
  @extend %header-dock-menu-icon;
  
  &:focus {
    outline: none;
  }

  :first-child {
    transform: rotate(45deg) translateX(rhythm($header-dock-menu-button-size-rhythm/12)) translateY(rhythm(-1*$header-dock-menu-button-size-rhythm/12));
    
  }
  :nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
  }
  :nth-child(3) {
    transform: rotate(-45deg) translateX(rhythm($header-dock-menu-button-size-rhythm/12)) translateY(rhythm($header-dock-menu-button-size-rhythm/12));
  }
}
