@use '../abstracts/variables';
@use '../abstracts/functions';

.BlogPost__article {
  header {
    display: flex;
    flex-direction: column;
  }

  section {
    margin-bottom: rhythm(2);
  }

  hr {
    background-color: $primary;
    border-color: $primary;
    margin-bottom: 1.6rem 
  }
}

.BlogPost__article__header {
  h1 {
    margin-bottom: 0;
    margin-top: rhythm(1);
  }

  small {
    margin: 0 0 rhythm(1);
  }
}

.BlogPost__nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
}
